{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="container jumbotron">
                <p class="text-left font-weight-bold"><strong>Your Task:</strong></p>
                <div class="row">
                    <ol class="text-left">
                        <li>Create Event CRUD module in backend with below fields.</li>
                        <ol type="a">
                            <li><b>Title</b> :- Name of Event.</li>
                            <li><b>Description</b> :- Description of event.</li>
                            <li><b>Image</b> :- Image of Event (Use Drag and Drop and Preview to upload Image).</li>
                            <li><b>Status</b> :- Active/Inactive.</li>
                            <li><b>Start Date</b> :- Start date of Event (Use DatePicker).</li>
                            <li><b>End Date</b> :- End Date of Event (Use DatePicker).</li>
                            <li>Use datatable for listing in backend.</li>
                        </ol>
                        <li>Show list of events in frontend by below criteria.</li>
                        <ol type="a">
                            <li>Live Events.</li>
                            <li>Upcoming Events.</li>
                            <li>Past Events.</li>
                        </ol>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <p class="text-left font-weight-bold"><strong>Development Notes (Good to have):</strong></p>
                <ol class="text-left">
                    <li>Try to use Repository Pattern.</li>
                    <li>Follow PSR Standard.</li>
                    <li>Add proper comments over methods.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_app'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('event_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_app'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_admin'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                        <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_admin'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
